.ResultButton {
	width: 100%;
	@apply space-y-4;

	.row {
		display: flex;
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: center;
		width: 100%;

		@apply space-x-4;
	}
}
