.Card {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * @width);
	width: @width + 1.2%;
	height: 100%;

	@width: 100%;
	@img: './img/bg.svg';

	&::before {
		position: absolute;
		top: 0;
		width: 100%;
		height: 4rem;
		background-image: url(@img);
		background-size: 100%;
		content: '';
	}

	&::after {
		position: absolute;
		bottom: 9.6rem;
		width: 100%;
		height: 7rem;
		background-image: url(@img);
		background-position: bottom;
		background-size: 100%;
		content: '';
	}

	& > .container {
		position: absolute;
		top: 0%;
		right: 0;
		bottom: 0%;
		left: 0;

		& > div {
			position: absolute;
			top: 4rem;
			width: 100%;
			height: calc(~'100% - 4rem - 7rem - 9.6rem');
			background-image: url('./img/bg-fill.svg');
			background-position: center;
			background-size: 100% auto;

			.content {
				position: absolute;
				display: flex;
				align-items: center;
				flex-direction: column;
				justify-content: center;
				width: 100%;
				height: 100%;
			}
		}
	}
}

.Card-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	@apply p-5;

	.center {
		position: absolute;
		top: 55%;
		left: 50%;
		margin-top: -9.6rem * 0.5 + 1rem;
		width: 0;
		height: 0;
	}
}
