.StandBottom {
	position: absolute;
	top: 14.5%;
	left: -2.8%;
	margin-top: 51px;
	width: 100%;
	color: #fff;
	text-transform: capitalize;
	font-weight: 900;
	opacity: 0.3;

	user-select: none;

	@apply font-interBlack text-5xl leading-normal;
}
