.StandBottom {
	position: absolute;
	top: 26.5%;
	margin-left: -2.8%;
	width: 100%;
	color: #fff;
	text-transform: uppercase;
	font-weight: 900;
	opacity: 0.5;

	@apply font-interBlack text-5xl leading-normal;
}
