.StandTop {
	position: absolute;
	top: 14.5%;
	left: -1%;
	margin-top: -45px;
	width: 100%;
	color: #fff;
	text-transform: uppercase;
	opacity: 0.3;

	user-select: none;
	@apply font-interBlack text-4xl leading-relaxed;
}
