.CardLogo {
	position: absolute;
	bottom: 2.4rem;
	left: 6%;
	width: 55%;

	.logo {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 1rem * @scale;
		width: 100%;

		@scale: 1.2;

		& > svg {
			transform: scale(@scale);
		}
	}

	.on {
		animation: dash 2s cubic-bezier(0.25, 1, 0.5, 1);

		animation-fill-mode: forwards;
	}

	@keyframes dash {
		// 20% {
		// 	stroke-dashoffset: 0;
		// }
		100% {
			stroke-dashoffset: 0;
		}
	}
}
