.ResultExplain {
	width: 100%;

	@apply space-y-4;

	.trip {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: center;
		width: calc(~'100% + 2.5rem');

		&::before {
			position: absolute;
			left: 0;
			width: image-width(@img) * @scale;
			height: image-height(@img) * @scale;
			background-image: url(@img);
			background-size: 100%;
			content: '';

			@scale: 0.6;
			@img: './img/strip-symbol.svg';
		}

		&::after {
			position: absolute;
			right: 0;
			width: image-width(@img) * @scale;
			height: image-height(@img) * @scale;
			background-image: url(@img);
			background-size: 100%;
			content: '';
			transform: rotate(180deg);

			@scale: 0.6;
			@img: './img/strip-symbol.svg';
		}

		.t {
			width: image-width(@img) * @scale;
			height: image-height(@img) * @scale;
			background-image: url(@img);
			background-size: 100%;

			@scale: 0.6;
			@img: './img/strip-text.svg';
			@apply m-3;
		}

		@apply -ml-5 bg-yellow;
	}

	.dialog {
		position: relative;
		padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * @width);
		width: @width;
		background-image: url(@img);
		background-size: cover;

		@width: 100%;
		@img: './img/dialog.svg';

		& > div {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;

			& > .hand {
				position: absolute;
				top: 12%;
				right: 7.5%;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 43%;
				height: 59.9%;

				.mp0 {
					top: 34%;
					left: -4.6%;
				}

				.mp1 {
					top: 32%;
					left: -1.6%;
				}

				.mp2 {
					top: 32%;
					left: -1.6%;
				}

				.mp3 {
					top: 34%;
					left: -2.6%;
				}

				.mp4 {
					top: 32%;
					left: -2.6%;
				}

				.mp5 {
					top: 13%;
					left: -0.6%;
				}

				.mp6 {
					top: 38%;
					left: -4%;
				}

				.mp7 {
					top: 3%;
					left: -3%;
				}

				.p0 {
					background-image: url('./img/0/b3.png');
				}

				.p1 {
					background-image: url('./img/1/b3.png');
				}

				.p2 {
					background-image: url('./img/2/b3.png');
				}

				.p3 {
					background-image: url('./img/3/b3.png');
				}

				.p4 {
					background-image: url('./img/4/b3.png');
				}

				.p5 {
					background-image: url('./img/5/b3.png');
				}

				.p6 {
					background-image: url('./img/6/b3.png');
				}

				.p7 {
					background-image: url('./img/7/b3.png');
				}

				.p {
					position: absolute;
					padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * @width);
					width: @width;
					background-size: 100%;

					@width: 135%;
					@img: './img/0/b3.png';
				}
			}

			& > .content {
				width: 53%;
				height: 100%;

				@apply space-y-3;

				& > .row {
					width: 100%;

					.blankName {
						width: image-width(@img) * @scale;
						height: image-height(@img) * @scale;
						background-image: url(@img);
						background-size: 100%;

						@scale: 0.61;
						@img: './img/bankname.svg';
					}

					& > h1 {
						font-weight: 600;
						@apply text-2xl;
					}

					& > p {
						font-weight: 400;
						@apply text-lg leading-6;
					}
				}

				@apply p-5;
			}
		}
	}
}
