.ResultExplain {
	width: 100%;

	@apply space-y-4;

	.trip {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: center;
		width: calc(~'100% + 2.5rem');

		&::before {
			position: absolute;
			left: 0;
			width: image-width(@img) * @scale;
			height: image-height(@img) * @scale;
			background-image: url(@img);
			background-size: 100%;
			content: '';

			@scale: 0.6;
			@img: './img/strip-symbol.svg';
		}

		&::after {
			position: absolute;
			right: 0;
			width: image-width(@img) * @scale;
			height: image-height(@img) * @scale;
			background-image: url(@img);
			background-size: 100%;
			content: '';
			transform: rotate(180deg);

			@scale: 0.6;
			@img: './img/strip-symbol.svg';
		}

		.t {
			width: image-width(@img) * @scale;
			height: image-height(@img) * @scale;
			background-image: url(@img);
			background-size: 100%;

			@scale: 0.6;
			@img: './img/strip-text.svg';
			@apply m-3;
		}

		@apply -ml-5 bg-yellow;
	}
}
